h1 {
	font-size: 70px;
	color: green;
	text-align: center;
}

header img {
	height: 60px;
	border: 1px solid #0033FF;
	border-radius: 10px; 
}

header {
	font-size: 20px;
	color: #0000CC;
	text-align: center;
	background-color: #FFFFCC;
	margin: 10px;
}

nav:hover {
	background-image: linear-gradient(#FFFFCC, blueviolet, blue);
}

body {
	background-color: #CC66FF;
}

nav {
	background-color: #33CC00;
	display: flex;
	justify-content: space-between;
	justify-content: space-between;
}

nav a {
	margin: 20px;
	font-size: 30px;
	text-decoration: none;
	color: white;
}

nav a:hover {
	font-size: 50px;
	color: navy;
	transition: 2s ease-in;
} 



.bars {
	margin-left: 25%;
	width: 50%;
}

h2 {
	font-size: 50px;
	color: #990000;
	text-align: center;
}

p {
	font-size: 30px;
	color: #000066;
}

ol  {
	font-size: 30px;
	color: #000099;
}

article {
	width: 90%;
	margin-left: 5%;
	display: flex;
	justify-content: center;
}

article img {
	width: 25%;
}

.video {
	display: flex;
	justify-content: space-between;
	justify-content: space-around;
}

footer img {
	width: 100px;
	margin: 20px;
}

.sos {
	display: flex;
	justify-content: center;
	margin-top: 50px;
}

footer {
	background-color: #33CC00;
}